<h1>Insert new singer:</h1>
<form [formGroup]="locationForm">
    <label>Country</label>
    <centric-mat-input formControlName="country" 
                       [inputClass]="isFieldInvalid('country') ? 'input-invalid': ''"
                       [textMessage]="getErrorMessage('country')">
    </centric-mat-input>

    <label>County</label>
    <centric-mat-input formControlName="county" 
                       [inputClass]="isFieldInvalid('county') ? 'input-invalid': ''"
                       [textMessage]="getErrorMessage('county')">
    </centric-mat-input>

    <label>Name</label>
    <centric-mat-input formControlName="name" 
                       [inputClass]="isFieldInvalid('name') ? 'input-invalid': ''"
                       [textMessage]="getErrorMessage('name')">
    </centric-mat-input>

    <label>Street</label>
    <centric-mat-input formControlName="street" 
                       [inputClass]="isFieldInvalid('street') ? 'input-invalid': ''"
                       [textMessage]="getErrorMessage('street')">
    </centric-mat-input>
    
    <button [disabled]="isSubmitButtonDisabled" (click)="submit()">Submit</button>
</form>