<h1>Insert new concert:</h1>
<form class="form-wrapper" [formGroup]="concertForm">
    <label>Name</label>
    <centric-mat-input formControlName="name" 
                       [inputClass]="isFieldInvalid('name') ? 'input-invalid': ''"
                       [textMessage]="getErrorMessage('name')">
    </centric-mat-input>

    <label>Price</label>
    <centric-mat-input formControlName="price"                 
                       [inputClass]="isFieldInvalid('price') ? 'input-invalid': ''"
                       [textMessage]="getErrorMessage('price')">
    </centric-mat-input>

    <label>Singer</label>
    <centric-select formControlName="singer" 
                    placeholder="Choose an option" 
                    size="small"
                    displayPropertyName="name" 
                    valuePropertyName="id"
                    [source]="singers" 
                    [invalid]="isFieldInvalid('singer')"
                    [errorMessage]="getErrorMessage('singer')" 
                    (openedChange)="openedChanged('singer')">
    </centric-select>


    <label>Location</label>
    <centric-select formControlName="location" 
                    placeholder="Choose an option" 
                    size="small"
                    displayPropertyName="name" 
                    valuePropertyName="id" 
                    [source]="locations" 
                    [invalid]="isFieldInvalid('location')"
                    [errorMessage]="getErrorMessage('location')" 
                    (openedChange)="openedChanged('location')">
    </centric-select>

    <button [disabled]="isSubmitButtonDisabled" (click)="submit()">Submit</button>
</form>